@import "tailwindcss";

@theme {
  --font-cinzel: var(--font-cinzel);
  --font-lato: var(--font-lato);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #1a1b4b; /* Deep Indigo/Purple from screenshot */
  color: #ffffff;
}
